In [19]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston
boston = load_boston()
df_x = pd.DataFrame(boston.data,columns=boston.feature_names)
df_y=pd.DataFrame(boston.target)

In [20]:
df_x.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [21]:
reg=linear_model.LinearRegression()

In [22]:
bos.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [23]:
reg = linear_model.LinearRegression()

In [28]:
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size=0.2,random_state=4)

In [30]:
reg.fit(x_train,y_train)

LinearRegression()

In [31]:
reg.coef_

array([[-1.15966452e-01,  4.71249231e-02,  8.25980146e-03,
         3.23404531e+00, -1.66865890e+01,  3.88410651e+00,
        -1.08974442e-02, -1.54129540e+00,  2.93208309e-01,
        -1.34059383e-02, -9.06296429e-01,  8.80823439e-03,
        -4.57723846e-01]])

In [32]:
a= reg.predict(x_test)

In [33]:
a

array([[12.07495986],
       [26.9894969 ],
       [17.58803353],
       [18.15584511],
       [36.92091659],
       [25.43267386],
       [31.09256932],
       [19.72549907],
       [19.66103377],
       [22.96358632],
       [28.38841214],
       [28.48925986],
       [18.99690357],
       [32.41097504],
       [21.52350275],
       [15.25945122],
       [21.23364112],
       [11.6220597 ],
       [11.37109662],
       [13.63515584],
       [ 5.62431971],
       [17.35323315],
       [20.80951594],
       [22.51311312],
       [16.39055556],
       [20.32352451],
       [17.88994185],
       [14.23445109],
       [21.1187098 ],
       [17.50765806],
       [14.54295525],
       [23.63289896],
       [34.32419647],
       [22.23027161],
       [16.82396516],
       [20.16274383],
       [30.67665825],
       [35.61882904],
       [23.50372003],
       [24.66451121],
       [36.91269871],
       [32.33290254],
       [19.11785719],
       [32.19546605],
       [33.42795148],
       [25.52705821],
       [40.63477427],
       [18.21762788],
       [19.34587461],
       [23.80167377],
       [33.42122982],
       [26.1451108 ],
       [18.10363121],
       [28.19906437],
       [13.37486655],
       [23.34019279],
       [24.44952678],
       [33.54973856],
       [16.71263275],
       [36.56402224],
       [15.69684554],
       [18.55447039],
       [32.14543203],
       [15.49568061],
       [39.02363234],
       [27.38174402],
       [31.96333419],
       [10.09436162],
       [19.13214621],
       [21.73038157],
       [23.14682001],
       [22.82615401],
       [22.51245566],
       [28.21477189],
       [17.13262484],
       [23.08039019],
       [16.65978367],
       [25.17892617],
       [13.68806399],
       [19.8195139 ],
       [22.31237842],
       [20.24637447],
       [28.35989119],
       [19.12635952],
       [30.49206633],
       [22.25649076],
       [29.98229473],
       [19.27750127],
       [23.73890345],
       [38.32216452],
       [31.24781499],
       [41.92137782],
       [18.61466511],
       [37.47526878],
       [19.66151941],
       [23.44504636],
       [26.55358092],
       [22.38454399],
       [ 9.59394823],
       [20.39499251],
       [ 9.22793989],
       [27.36219976]])

In [34]:
y_test

        0
8    16.5
289  24.8
68   17.4
211  19.3
226  37.6
..    ...
368  50.0
144  11.8
336  19.5
437   8.7
216  23.3

[102 rows x 1 columns]

In [35]:
np.mean((a-y_test)**2)

0    25.419587
dtype: float64